<template>
  <div id="app">
    <ul :style="{display: 'flex', padding: '0'}">
      <li v-for="product in products" :key="product" :style="{ padding: '30px', listStyle: 'none', border: '1px solid #000', margin: '5px' }">
        <b>{{product}}</b> <br /> $ {{parseFloat((Math.random() * 100).toFixed(2))}} <br />
        <button @click="add(product)">Buy</button>
      </li>
    </ul>
    {{carts}}
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
export default {
  name: 'app',
  props: {
    value: {
      type: Array,
      default: () => []
    }
  },
  computed: {
    ...mapState({
      products: 'products',
      carts: 'carts'
    })
  },
  created () {
    console.log(this.value)
  },
  methods: {
    ...mapActions({
      addToCart: 'addToCart'
    }),
    async add (product) {
      await this.addToCart(product)
      await this.$emit('data', this.carts)
    }
  }
}
</script>
